.academic__courses{
    width: 100%;
}

@media (min-width: 768px) {
    .academic__courses{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (min-width: 1440px) {
    .academic__courses{
        max-width: 1400px;
        margin: auto;
    }
}