.academic__courses__box{
    padding: 1rem;
    justify-content: center;    
    transition: all 500ms;
}

.academic__courses__box:hover{
    transform: scale(1.1);
}

.academic__courses__list{
    padding: 0;
}

.academic__courses__item__img{
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: .5rem;
}

.academic__courses__item__img img{
    width: 84px;
    height: 58px;
    padding: 2rem;
}

.academic__courses__item__title, .academic__courses__item__subtitle p{
    color: var(--color-letras);
    margin-top: .2rem;
}

@media (min-width: 768px) {
    .academic__courses__box{
        width: 270px;   
    }
}

@media (min-width: 1440px) {

}
