.hobbies__box{
    display: flex;
    width: 156px;
    height: 118px;
    background: #ffffff;
    margin: 1rem;
    justify-content: start;
    align-items: end;
    transition: all 500ms;
}

.hobbies__box:hover{
    transform: scale(1.1);
}

.hobbies__box ul{
    margin: 0;
    padding: 1rem;
}

.hobbies__name{
    margin-top: .5rem;
    font-weight: 700;
    color: var(--color-letras);
}

@media (max-width: 407px) {
    .hobbies__box{
        width: 50%;
        padding-left: 3rem;
    }
}