.hobbies__box{
    display: flex;
    width: 156px;
    height: 118px;
    background: #ffffff;
    margin: 1rem;
    justify-content: start;
    align-items: end;
}

.hobbies__box ul{
    margin: 0;
    padding: 1rem;
}

.hobbies__name{
    margin-top: .5rem;
    font-weight: 700;
    color: var(--color-letras);
}