.formcontato--esquerda{
    display: none;
}

@media (min-width: 1440px) {
    .formcontato--esquerda{
        display: flex;
        margin-right: 1rem;
    }
}

/*Tablet*/
@media (min-width: 768px) {

}

/*Mobile*/
@media (min-width: 425px) {

}