.formcontato--esquerda{
    display: none;
}

@media (min-width: 900px) {
    .formcontato--esquerda{
        display: flex;
        margin-right: 1rem;
    }

    .formcontato__img{
        width: 400px;
    }
}

@media (min-width: 1000px) {
    .formcontato__img{
        width: auto;
    }

}

