.title__div{
    width: 100%;
}

@media (min-width: 768px) {
    .title__div{
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
    }
}

@media (min-width: 1440px) {
    .title__div{
        max-width: 1400px;
        margin: auto;
    }
}
